<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="apiFormTranslator.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <apiFormTranslator.Model.Properties.Settings>
            <setting name="apiFormTranslator_Model_SecurityService_SecurityService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/SecurityService.asmx</value>
            </setting>
            <setting name="apiFormTranslator_Model_ItemService_ItemService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/ItemService.asmx</value>
            </setting>
            <setting name="apiFormTranslator_Model_ExamService_ExamService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/ExamService.asmx</value>
            </setting>
            <setting name="apiFormTranslator_Model_ListService_ListService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/ListService.asmx</value>
            </setting>
            <setting name="apiFormTranslator_Model_SearchService_SearchService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/SearchService.asmx</value>
            </setting>
            <setting name="apiFormTranslator_Model_icsService_ICSService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/icsService.asmx</value>
            </setting>
            <setting name="apiFormTranslator_Model_AutoGenCodeWebService_AutoGenCodeWebService"
                serializeAs="String">
                <value>http://bil-itest2-app.prometric.qc2/IntelitestWS/WebServices/Public/AutoGenCodeWebService.asmx</value>
            </setting>
        </apiFormTranslator.Model.Properties.Settings>
    </applicationSettings>
</configuration>